$font-color: #212121;

$primary: #2E7D32;
$success: #43A047;
$danger: #e53935;
$warning: #FB8C00;
$dark: #212121;
$light: #ffffff;

.primary {
    background-color: $primary !important;
}
.primary-text {
    color: $primary !important;
}

.success {
    background-color: $success !important;
}
.success-text {
    color: $success !important;
}
.success-border {
    border: 1px solid $success !important;
}

.danger {
    background-color: $danger !important;
}
.danger-text {
    color: $danger !important;
}
.danger-border {
    border: 1px solid $danger !important;
}

.warning {
    background-color: $warning !important;
}
.warning-text {
    color: $warning !important;
}
.warning-border {
    border: 1px solid $warning !important;
}

.dark {
    background-color: $dark !important;
}
.dark-text {
    color: $dark !important;
}
.dark-border {
    border: 1px solid $dark !important;
}

.light {
    background-color: $light !important;
}
.light-text {
    color: $light !important;
}
.light-border {
    border: 1px solid $light !important;
}