.login {
    .vs-row {
        height: 100vh;
        -webkit-align-items: center;
        align-items: center;

        .login-logo {
            max-width: 100px;
            margin-top: -5rem;
        }
    }
}